.header{
    padding: calc(var(--section-padding-top) * 3) 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 10rem;
    line-height: 90%;
    font-family: var(--secondary-font);
}

.header h1 span{
    color: var(--primary-text-color);
    background-color: var(--primary-light);
    padding: 0.4vw 1.5vw;
    font-size: 5rem;
    font-weight: 400;
}

.content{
    width: 40%;
}

.header p{
    margin-top: 4vw;
    font-size: 1.3rem;
    color: var(--primary-text-color);
    line-height: 200%;
    background-color: var(--primary-light);
    padding: 3vw;
}

.buttonWrapper{
    /* padding: 2vw 5%; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonWrapper a{
    margin: 2vw 0;
    padding: 0.8vw 2vw;
    display: inline-block;
    width: 35%;
    text-align: center;
}

.pageBreak{
    position: absolute;
    width: 30%;
    height: 2vw;
    display: inline-block;
    background-color: var(--primary-light);
    bottom: -1vw;
    left: 35%;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .content:nth-child(1){
        width: 50%;
    }
    .content:nth-child(2){
        width: 45%;
    }
}

/* TABLET AND LOWER STYLES */
@media only screen and (max-width: 990px){
    .header{
        flex-direction: column;
    }
    
    .header h1{

        text-align: center;
        font-size: 8rem;
    }
    
    .header h1 span{
       
        padding: 0.2vw 2vw;
        font-size: 5rem;
    }
    
    .content{
        width: 80%;
    }
    
    .header p{
        margin-top: 5vw;
        padding: 3vw;
        text-align: center;
    }
    
    .buttonWrapper{
        padding: 2vw 10%;
        width: 80%;
        display: inline-flex;
    }
    
    .buttonWrapper a{
        margin-top: 5vw;
        padding: 1.4vw 3vw;
        width: 35%;
        text-align: center;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
 
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header{
        padding: calc(var(--section-padding-top) * 3) 5%;
    }
    .header h1{
        font-size: 7.5rem;
    }
    
    .header h1 span{
        position: relative;
        top: 1vw;
        padding: .8vw 2vw;
        font-size: 5rem;
    }
    
    .content{
        width: 100%;
    }
    
    
    .header p{
        margin-top: 8vw;
        font-size: 1.4rem;
        padding: 2vw;
    }
    
    .buttonWrapper{
        padding: 8vw 0 0 0;
        width: 100%;
    }
    
    .buttonWrapper a{
        margin: 4vw 0;
        padding: 2.5vw 4vw;
        width: 40%;
    }
}